{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ '专家信息管理' }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link REL="SHORTCUT ICON" HREF="{% static "base/images/favicon.ico" %}"/>
{#    <meta name="viewport" content="width=device-width, initial-scale=glyphicons-halflings-regular.svg, maximum-scale=glyphicons-halflings-regular.svg">#}
{#    <meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />#}
{#    #}
    <title>professors</title>
    <meta charset="UTF-8">
    {% block linkscript %}
    {% endblock linkscript %}
</head>
<body style="align-items: center;background-color: #eeeeee">
<header>
    {% include 'professor/header.html' %}
</header>
<div>
     {% block base %}
     {% endblock base %}
</div>
<footer>
    {% include 'professor/footer.html' %}
</footer>
</body>
</html>
