{% extends 'zhongye/base.html' %}
{% load static %}
{% block base %}
  <div style="width: 80%;margin: 0 auto;margin-top: 100px;">

    <!--审批人员检验报告表格-->




    <table id="table"
           data-toolbar="#toolbar"
{#           data-search="true"#}
           data-show-refresh="true"
           data-show-print="true"
{#           data-show-toggle="true"#}
           data-show-fullscreen="true"
{#           data-show-columns="true"#}
{#           data-show-columns-toggle-all="true"#}
{#           data-detail-view="true"#}
           data-show-export="true"
           data-click-to-select="true"
{#           data-detail-formatter="detailFormatter"#}
{#           data-minimum-count-columns="2"#}
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
{#           data-show-footer="true"#}
           data-side-pagination="server"
{#           data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"#}
           data-response-handler="responseHandler">
    </table>

    <script>
      var $table = $('#table')

      function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
          {#height: 550,#}
          {#  pagination: false,#}
            locale: 'zh-CN',
            {#url: "/approval_report/",#}
            method: "GET",
            {#onloadend:initForm(),#}
          columns: [
            [{
              title: '委托单编号',
              field: 'id',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='report_id'>{{ data.report_id }}</span>",
              field: 'report_id1',
              colspan: 5,
              align: 'center'
            }], [{
              title: '委托单位',
              field: 'clients',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='company_name'>{{ data.company_name }}</span>",
              field: 'company_name1',
              colspan: 2,
              align: 'center'
            }, {
              title: '委托时间',
              field: 'dates',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='date'>{{ data.date }}</span>",
              field: 'date1',
              colspan: 2,
              align: 'center'
            }], [{
              title: '工程名称',
              field: 'enjNames',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='project_name'>{{ data.project_name }}</span>",
              field: 'project_name',
              colspan: 2,
              align: 'center'
            }, {
              title: '送样（联系）人',
              field: 'contacts',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'contact',
              colspan: 2,
              align: 'center'
            }], [{
              title: '试样名称',
              field: 'sampleNames',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='sample_name'>{{ data.sample_name }}</span>",
              field: 'sampleName',
              colspan: 5,
              align: 'center'
            }], [{
              title: '检验依据',
              field: 'basiss',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='test_basis'>{{ data.test_basis }}</span>",
              field: 'basis',
              colspan: 5,
              align: 'center'
            }], [{
              title: '规格型号',
              field: 'specifications',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='d1'>{{ data.d1 }}</span>",
              field: 'specification1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '牌号级别',
              field: 'grades',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='brand_grade1'>{{ data.brand_grade1 }}</span>",
              field: 'grade1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '产品批号',
              field: 'produceNumbers',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'produceNumber1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '试样编号',
              field: 'sampleIds',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'sampleId1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '送样数量',
              field: 'givingNumbers',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='number'>{{ data.number }}</span>",
              field: 'number',
              colspan: 3,
              align: 'center'
            }], [{
              title: '试样数量',
              field: 'sampleNumbers',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'sampleNumber1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '交货形式',
              field: 'givingModes',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'givingMode1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '检验项目',
              field: 'testItems',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='items'>{{ data.items }}</span>",
              field: 'items',
              colspan: 5,
              align: 'center'
            }], [{
              title: '样品状态',
              field: 'sampleStatuss',
              colspan: 1,
              align: 'center'
            }, {
              title: "<span id='sample_state'>{{ data.sample_state }}</span>",
              field: 'state',
              colspan: 5,
              align: 'center'
            }], [{
              title: '检验结论',
              field: 'conclusions',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'conclusion',
              colspan: 5,
              align: 'center'
            }], [{
              title: '备注',
              field: 'remarks',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'remark',
              colspan: 3,
              align: 'center'
            }, {
              title: '签发日期',
              field: 'provideDate',
              colspan: 2,
              align: 'center'
            }], [{
              title: '试样编号',
              field: 'sampleIds',
              colspan: 3,
              align: 'center'
            }, {
              title: '/',
              field: 'sampleId1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'sampleId2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'sampleId3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '检验项目',
              field: 'testItems',
              colspan: 2,
              align: 'center'
            }, {
              title: '标准值',
              field: 'standardValues',
              colspan: 1,
              align: 'center'
            }, {
              title: '实测值',
              field: 'actualValue',
              colspan: 3,
              align: 'center'
            }], [{
              title: '力学工艺性能',
              field: 'mechanics',
              rowspan: 7,
              valign: 'middle',
              align: 'center'
            }, {
              title: '屈服强度MPa Rp0.2',
              field: 'yieldStrength',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'yieldStrengthStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueYieldStrength1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueYieldStrength2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueYieldStrength3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '抗拉强度MPa Rm',
              field: 'tensileStrength',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'tensileStrengthStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTensileStrength1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTensileStrength2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTensileStrength3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '最大力总伸长率Agt %',
              field: 'totalElongation',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'totalElongationStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTotalElongation1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTotalElongation2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueTotalElongation3',
              colspan: 1,
              align: 'center'
            }], [{
              title: 'R0m/R0eL',
              field: 'r0mr0el',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'r0mr0elStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0mr0el1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0mr0el2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0mr0el3',
              colspan: 1,
              align: 'center'
            }], [{
              title: 'R0eL/ReL',
              field: 'r0elrel',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'r0elrelStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0elrel1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0elrel2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValuer0elrel3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '弯曲4d 180°',
              field: 'bending',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'bendingStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueBending1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueBending2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueBending3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '反向弯曲°',
              field: 'reversedBending',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'reversedBendingStandard',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueReversedBending1',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueReversedBending2',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'actualValueReversedBending3',
              colspan: 1,
              align: 'center'
            }], [{
              title: '备注',
              field: 'remarks',
              colspan: 3,
              align: 'center'
            }, {
              title: '/',
              field: 'remark',
              colspan: 3,
              align: 'center'
            }]
          ]
        })

      }

    {#  function initForm(){#}
    {#console.log($("#weituodan").innerText)#}
    {#    $.ajax({#}
    {#        type:"GET",#}
    {#        url:"/approvalReportData/",#}
            {#data: {"report_id":  {{report_id}} },#}
    {#        success:function(result) {#}
    {#            console.log(jQuery.parseJSON(result))#}
    {#            result = jQuery.parseJSON(result)#}
    {#            for (var key in result["data"]){#}
    {#                console.log(key, result["data"][key])#}
    {#                $("#"+key).append(result["data"][key])#}
    {#            }#}
    {#        },#}
    {#        error:function(result){#}
    {##}
    {#        }#}
    {#    })#}
    {# }#}

      $(function () {
        initTable()
        $("tbody").remove();
      })
    </script>
  </div>


{% endblock base %}