{% extends 'zhongye/base.html' %}
{% load static %}
{% block base %}


<!--分配人员首页表-->

<div style="width: 80%;margin: 0 auto">
<div>
    <div id="boxes">
            <div id="outer"><div id="icon_select"  onclick="assignIndex()"><img height="60px" style="margin-top: 10px" src="{% static 'flexbox/lali.png' %}"></div>拉力</div>
            <div id="outer"><div id="icon"><img height="55px" style="margin-top: 12px" src="{% static 'flexbox/wanqu.png' %}"></div>弯曲</div>
            <div id="outer"><div id="icon"><img height="55px" style="margin-top: 12px" src="{% static 'flexbox/fanwan.png' %}"></div>反弯</div>
            <div id="outer"><div id="icon"><img height="35px" style="margin-top: 22px" src="{% static 'flexbox/huaxue.png' %}"></div>化学</div>
            <div id="outer"><div id="icon"><img height="45px" style="margin-top: 15px" src="{% static 'flexbox/jinxiang.png' %}"></div>金相</div>
            <div id="outer"><div id="icon"><img height="30px" style="margin-top: 22px" src="{% static 'flexbox/qita.png' %}"></div>...</div>
    </div>
<script type="text/javascript">
        function assignIndex() {
            window.location.href = "/assignment_index/";
        }
</script>
</div>


{#<div id="toolbar">#}
{#  <button id="remove" class="btn btn-danger" disabled>#}
{#    <i class="glyphicon glyphicon-remove"></i> Delete#}
{#  </button>#}
{#</div>#}
<table
  id="table"
{#  data-toolbar="#toolbar"#}
{#  data-search="true"#}
  data-show-refresh="true"
{#  data-show-toggle="true"#}
  data-show-fullscreen="true"
  data-show-print = "true"
{#  data-show-columns="true"#}
{#  data-show-columns-toggle-all="true"#}
{#  data-detail-view="true"#}
  data-show-export="true"
{#  data-click-to-select="true"#}
{#  data-detail-formatter="detailFormatter"#}
{#  data-minimum-count-columns="2"#}
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]"
{#  data-show-footer="true"#}
  data-side-pagination="server"
{#  data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"#}
{#  data-response-handler="responseHandler"#}
>
</table>

<script defer="true">
  var $table = $('#table')

  {#function responseHandler(res) {#}
  {#  $.each(res.rows, function (i, row) {#}
  {#    row.state = $.inArray(row.id, selections) !== -1#}
  {#  })#}
  {#  return res#}


  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      {#height: 550,#}
      locale: 'zh-CN',
      url: "/LoadAssignData/",
      columns: [

        {
          title: '试样编号',
          field: 'sample_actual_id',
          align: 'center',
          sortable: true,
        },  {
          title: '规格型号',
          field: 'd',
          align: 'center',
          sortable: false,
        },  {
          title: '牌号级别',
          field: 'brand_grade',
          align: 'center',
          sortable: true,
        },  {
          title: '样品名称',
          field: 'sample_name',
          align: 'center',
          sortable: false,
        }, {
          title: '检验依据',
          field: 'test_basis',
          align: 'center',
          sortable: false,
        }, {
          title: '周期',
          field: 'period',
          align: 'center',
          sortable: false,
        }, {
                title: '分配',
                field: 'get_people',
                editable: {
                    type: 'select',
                    placeholder:'请分配',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/getPeopleNames/',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                {# console.log(jQuery.parseJSON(data)); #}
                                data = jQuery.parseJSON(data);
                                $.each(data, function (key, value) {
                                        result.push({ value: value.id, text: value.username });


                                });
                            }
                        });
                        return result;
                    }
                    }

            }
      ],
        onEditableSave: function (field, row, oldValue, $el) {
            $.ajax({
              type: "post",
              url: "/updateGetPeople/",
              data: {"sample_id":row.sample_id,"get_people":row.get_people},
              success: function (data, status) {
                if (status == "success") {
                  initTable();
                }
              },
              error: function () {
                alert('编辑失败');
              },
              complete: function () {

              }

            });
          }
    })


  }



  $(function() {
    initTable()

  })
</script>



</div>

{% endblock base %}