{% extends 'zhongye/base.html' %}
{% load static from staticfiles %}
{% block base %}
  <!--分配人员任务单表格-->
  <div style="width: 80%;margin: 0 auto">
  <div style="height: 200px;margin: 0 auto">
    <h3 style="text-align: center;line-height: 200px"><span>分配人员任务单表格</span></h3>
  </div>



{#<div id="toolbar">#}
{#  <button id="remove" class="btn btn-danger" disabled>#}
{#    <i class="glyphicon glyphicon-remove"></i> Delete#}
{#  </button>#}
{#</div>#}
<table
  id="table"
{#  data-toolbar="#toolbar"#}
{#  data-search="true"#}
  data-show-refresh="true"
{#  data-show-toggle="true"#}
  data-show-fullscreen="true"
  data-show-print = "true"
{#  data-show-columns="true"#}
{#  data-show-columns-toggle-all="true"#}
{#  data-detail-view="true"#}
  data-show-export="true"
{#  data-click-to-select="true"#}
{#  data-detail-formatter="detailFormatter"#}
{#  data-minimum-count-columns="2"#}
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]"
{#  data-show-footer="true"#}
  data-side-pagination="server"
{#  data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"#}
  data-response-handler="responseHandler">
</table>

<script>
  var $table = $('#table')


  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      {#height: 550,#}
      pagination : false,
      locale: 'zh-CN',
      columns: [
        [{
          title: '报告编号',
          field: 'id',
          colspan: 13,
          align: 'center'
        }],[{
          title: '样品名称',
          field: 'sampleNames',
          colspan: 2,
          align: 'center'
        },{
          title: '/',
          field: 'sampleName',
          colspan: 11,
          align: 'center'
        }],[{
          title: '检验依据',
          field: 'basiss',
          colspan: 2,
          align: 'center'
        },{
          title: '/',
          field: 'basis',
          colspan: 11,
          align: 'center'
        }], [{
          title: '要求完成时间',
          field: 'deadlines',
          colspan: 2,
          align: 'center'
        },{
          title: '/',
          field: 'deadline',
          colspan: 11,
          align: 'center'
        }], [{
          title: '钢号（牌号）级别',
          field: 'grade',
          colspan: 1,
          rowspan: 2,
          align: 'center'
        }, {
          title: '规格型号',
          field: 'specification',
          colspan: 1,
          rowspan: 2,
          align: 'center'
        }, {
          title: '试样编号',
          field: 'sampleId',
          colspan: 1,
          rowspan: 2,
          align: 'center'
        },{
          title: '实验人员',
          field: 'experimenter',
          colspan: 1,
          rowspan: 2,
          align: 'center'
        },{
          title: '检验项目及数量',
          colspan: 9,
          align: 'center'
        }],[{
          title: '抗拉强度',
          field: 'tensileStrength',
          colspan: 1,
          align: 'center'
        }, {
          title: '屈服强度',
          field: 'yieldStrength',
          colspan: 1,
          align: 'center'
        }, {
          title: '最大力下总伸长率',
          field: 'totalElongation',
          colspan: 1,
          align: 'center'
        },{
          title: '强屈比',
          field: 'strongYieldRatio',
          colspan: 1,
          align: 'center'
        }, {
          title: '屈屈比',
          field: 'flexibilityRatio',
          colspan: 1,
          align: 'center'
        }, {
          title: '弯曲',
          field: 'bending',
          colspan: 1,
          align: 'center'
        }, {
          title: '反向弯曲',
          field: 'reversedBending',
          colspan: 1,
          align: 'center'
        }, {
          title: '表面质量',
          field: 'surfaceQuality',
          colspan: 1,
          align: 'center'
        },{
          title: '表面标志',
          field: 'surfaceMarker',
          colspan: 1,
          align: 'center'
        }]
      ]
    })
  }

  $(function() {
    initTable()
  })
</script>
</div>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'professorTable/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'professorTable/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'professorTable/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'professorTable/css/all.css' %}">

    <script src="{% static 'professorTable/js/popper.min.js' %}"></script>
    <script src="{% static 'professorTable/js/bootstrap.min.js' %}"></script>

{% endblock base %}