{% extends 'zhongye/base.html' %}
{% load static from staticfiles %}
{% block base %}

<!--分配人员首页表-->

<div style="width: 80%;margin: 0 auto">
  <div style="height: 200px;margin: 0 auto">
    <h3 style="text-align: center;line-height: 200px"><span>分配人员首页表</span></h3>
  </div>



{#<div id="toolbar">#}
{#  <button id="remove" class="btn btn-danger" disabled>#}
{#    <i class="glyphicon glyphicon-remove"></i> Delete#}
{#  </button>#}
{#</div>#}
<table
  id="table"
{#  data-toolbar="#toolbar"#}
{#  data-search="true"#}
  data-show-refresh="true"
{#  data-show-toggle="true"#}
  data-show-fullscreen="true"
  data-show-print = "true"
{#  data-show-columns="true"#}
{#  data-show-columns-toggle-all="true"#}
{#  data-detail-view="true"#}
  data-show-export="true"
{#  data-click-to-select="true"#}
{#  data-detail-formatter="detailFormatter"#}
{#  data-minimum-count-columns="2"#}
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]"
{#  data-show-footer="true"#}
  data-side-pagination="server"
  data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
{#  data-response-handler="responseHandler"#}
>
</table>

<script>
  var $table = $('#table')

  {#function responseHandler(res) {#}
  {#  $.each(res.rows, function (i, row) {#}
  {#    row.state = $.inArray(row.id, selections) !== -1#}
  {#  })#}
  {#  return res#}


  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      {#height: 550,#}
      locale: 'zh-CN',
      columns: [

        {
          title: '报告编号',
          field: 'id',
          align: 'center',
          valign: 'middle',
          sortable: true,
          editable: {
                type: "text",
                title: "报告编号",
                validate: function (value) {
                  if (!value) {
                    return '报告编号不能为空';

                  }
                }

              }
        },  {
          title: '样品名称',
          field: 'sampleName',
          align: 'center',
          valign: 'middle',
          sortable: false,
        },  {
          title: '检验依据',
          field: 'basis',
          align: 'center',
          valign: 'middle',
          sortable: true,
        },  {
          title: '委托日期',
          field: 'date',
          align: 'center',
          valign: 'middle',
          sortable: true,
        },  {
          title: '周期',
          field: 'isUrgent',
          align: 'center',
          valign: 'middle',
          sortable: true,
        },  {
          field: 'operate',
          title: '操作',
          align: 'center',
          events: window.operateEvents,
          formatter: operateFormatter
        }
      ]
    })


  }
  function operateFormatter(value, row, index) {
    return [
      '<form name="form" method="post" action="/assignment/">',
      '<input type = "hidden" value = "',
      row.id,
      '" >',
      '<input type="submit" name="Submit" value="分配">',
      '</form>',
    ].join('')
  }

  window.operateEvents = {
    'click .begin': function (e, value, row, index) {
      $.ajax({
        method: "POST",
        data: {"sample_id": row.sample_id},
        url: "/toConsignment/",
        success: function (result) {
          {#console.log(jQuery.parseJSON(result))#}

        },
        error: function (result) {

        }
      })
    }
  }
  $(function() {
    initTable()

  })
</script>
</div>


{% endblock base %}