{% load static from staticfiles %}

<!doctype html>
<html class="no-js" lang="en">


<head>
  <meta charset="utf-8">
  <title>中冶建筑研究总院有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/all.css' %}">
  <script src="{% static 'base/js/jquery.min.js' %}"></script>
  <script src="{% static 'base/js/layer.js' %}"></script>
  <script src="{% static 'base/js/popper.min.js' %}"></script>



  <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-editable.css' %}">

  <link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css' %}">
  <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'base/js/bootstrap-editable.js' %}"></script>
  <script src="{% static 'base/js/bootstrap-table.js' %}"></script>

  <script src="{% static 'base/js/bootstrap-table-editable.js' %}"></script>


  <script src="{% static 'base/js/tableExport.min.js' %}"></script>
{#  <script src="{% static 'base/js/bootstrap-table-editable.js' %}"></script>#}
  <script src="{% static 'base/js/bootstrap-table-zh-CN.js' %}"></script>
  <script src="{% static 'base/js/layer.js' %}"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/extensions/print/bootstrap-table-print.min.js"></script>



</head>

<body>
{#<div style="height: 50px;width: 100%;background-color: #0044cc;">#}
{#  <span#}
{#    style="float: right;margin-right: 100px;line-height: 50px;color:#ffffff;">{{ request.session.LoginSession.LoginName }}</span>#}
{#</div>#}


<div>
  {% block base %}
  {% endblock base %}
</div>
<footer>
  {% include 'zhongye/footer.html' %}
</footer>


</body>

</html>

