<!--收样人员委托单表格-->
{% extends 'zhongye/base.html' %}
{% load static from staticfiles %}
{% block base %}
  <div style="width: 80%;margin: 0 auto">
    <div style="height: 200px;margin: 0 auto">
      <h3 style="text-align: center;line-height: 200px"><span>收样人员委托单表</span></h3>
    </div>


    {#<div id="toolbar">#}
    {#  <button id="remove" class="btn btn-danger" disabled>#}
    {#    <i class="glyphicon glyphicon-remove"></i> Delete#}
    {#  </button>#}
    {#</div>#}

    <table id="table"
           data-toolbar="#toolbar"
           data-show-refresh="true"
           data-show-fullscreen="true"
           data-show-export="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-show-print="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
           data-side-pagination="server"
    >
    </table>

    <script>
      var $table = $('#table')


      function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
          height: 550,
          pagination: false,
          locale: 'zh-CN',
          columns: [
            [{
              title: '报告编号:建钢检字（     ） 第 （     ） 号 ',
              field: 'id',
              colspan: 7,
              align: 'center',
              valign: 'middle'
            }], [{
              title: '委托单位',
              field: 'clients',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm" >' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'client',
              colspan: 6,
              align: 'center'
            }], [{
              title: '工程名称',
              field: 'enjNames',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm" >' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'enjName',
              colspan: 6,
              align: 'center'
            }], [{
              title: '邮寄地址',
              field: 'EmailAddresss',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm" >' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'EmailAddress',
              colspan: 4,
              align: 'center'
            }, {
              title: '邮政编码',
              field: 'postcodes',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm" >' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'postcode',
              colspan: 1,
              align: 'center'
            }], [{
              title: '委托类型',
              field: 'deliveryModes',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <div class="input-group input-group-sm" style="width: auto" >' +
                '            <label><input type="checkbox" style="width: 30%">一般</lable' +
                '            <label ><input type="checkbox" style="width: 30%">见证</lable' +
                '            <label ><input type="checkbox" style="width: 30%">仲裁</lable' +
                '            </div>',
              colspan: 4,
              align: 'center'
            }, {
              title: '委托日期',
              field: 'dates',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm" >' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'date',
              colspan: 1,
              align: 'center'
            }], [{
              title: '报告形式',
              field: 'reportForms',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <div class="input-group input-group-sm" style="width: auto" >' +
                '            <label><input type="checkbox" style="width: 30%">中文报告</lable' +
                '            <label ><input type="checkbox" style="width: 30%">英文报告</lable' +
                '            </div>',
              field: 'reportForm',
              colspan: 2,
              align: 'center'
            }, {
              title: '发出方式',
              field: 'givingModes',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <div class="input-group input-group-sm" style="width: auto" >' +
                '            <label><input type="checkbox" style="width: 30%">自取</lable' +
                '            <label ><input type="checkbox" style="width: 30%">邮寄</lable' +
                '            </div>',
              field: 'givingMode',
              colspan: 1,
              align: 'center'
            }, {
              title: '联系人',
              field: 'contacts',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'contact',
              colspan: 1,
              align: 'center'
            }], [{
              title: '加工方式',
              field: 'processingModes',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <div class="input-group input-group-sm" style="width: auto" >' +
                '            <label><input type="checkbox" style="width: 30%">中心加工</lable' +
                '            <label ><input type="checkbox" style="width: 30%">委托方加工</lable' +
                '            </div>',
              field: 'processingMode',
              colspan: 2,
              align: 'center'
            }, {
              title: '代表数量',
              field: 'representNumbers',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'representNumber',
              colspan: 1,
              align: 'center'
            }, {
              title: '联系电话',
              field: 'contactPhones',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'contactPhone',
              colspan: 1,
              align: 'center'
            }], [{
              title: '生产厂家',
              field: 'producers',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'producer',
              colspan: 4,
              align: 'center'
            }, {
              title: '传真',
              field: 'faxs',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'fax',
              colspan: 1,
              align: 'center'
            }], [{
              title: '样品名称',
              field: 'sampleNames',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'sampleName',
              colspan: 4,
              align: 'center'
            }, {
              title: '样品状态',
              field: 'sampleStatuss',
              colspan: 1,
              align: 'center'
            }, {
              title: '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="">' +
                '        </div>',
              field: 'sampleStatus',
              colspan: 1,
              align: 'center'
            }], [{
              title: '检验费用',
              field: 'prices',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '<div class="input-group input-group-sm">' +
                '            <span class="input-group-addon">金额:</span>' +
                '            <input type="text" class="form-control">' +
                '            <span class="input-group-addon">元</span>' +
                '      </div>',
              field: 'price',
              colspan: 2,
              align: 'center',
              valign: "middle"
            },
              {
                title: '预交押金',
                field: 'prices',
                colspan: 1,
                valign: "middle",
                align: 'center'
              }, {
                title: '<div class="input-group input-group-sm">' +
                  '            <span class="input-group-addon">金额:</span>' +
                  '            <input type="text" class="form-control">' +
                  '            <span class="input-group-addon">元</span>' +
                  '      </div>',
                field: 'price',
                colspan: 2,
                align: 'center',
                valign: "middle"
              },
              {
                title: '   <div class="input-group input-group-sm" style="width: auto" >' +
                  '            <label><input type="checkbox" style="width: 30%">已付</lable' +
                  '            <label ><input type="checkbox" style="width: 30%">未付</lable' +
                  '            </div>',
                field: 'paided',
                colspan: 1,
                valign: "middle",
                align: 'center'
              }], [{
              title: '注意事项',
              field: 'Notice',
              rowspan: 3,
              align: 'center',
              valign: 'middle',
            }, {
              title:
                '   <div class="input-group input-group-sm" style="width: auto" >' +
                '<span style="margin-left: 10px;margin-right: 20px;"> 周期：</span>' +
                '            <label><input type="checkbox" style="width: 30%">正常</lable' +
                '            <label ><input type="checkbox" style="width: 30%">加急</lable' +
                '            </div>',
              field: 'isUrgent',
              colspan: 6,
              align: 'center',
              valign: "middle"
            }], [{
              title:
                '<div>' +
                '        <div class="input-group input-group-sm"  style="width: auto">' +
                '            <input type="text"  class="form-control" placeholder="送样数量">' +
                '        </div></div>',
              field: 'givingNumber',
              colspan: 6,
              align: 'center'
            }], [{
              title: '   <div><div class="input-group input-group-sm" style="width: auto" >' +
                  '            <label>检验后样品处理：<input type="checkbox" style="width: 30%">由检测方处理</lable' +
                  '            <label ><input type="checkbox" style="width: 30%">委托方取回（自委托方委托之日起保存十天，逾期不予保存)</lable' +
                  '            </div></div>',
              field: 'proposal',
              colspan: 6,
              align: 'center',
              valign: "middle"
            }], [{
              title: '发票信息',
              field: 'invoices',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <div><div class="input-group input-group-sm" style="width: auto" >' +
                  '            <label><input type="checkbox" style="width: 30%">普通发票</lable' +
                  '            <label ><input type="checkbox" style="width: 30%">增值税发票（请提供增值税发票信息：单位名称、地址、电话、纳税人识别号、账号、开户银行）</lable' +
                  '            </div></div>',
              field: 'invoice',
              colspan: 6,
              align: 'center'
            }], [{
              title: '交货形式',
              field: 'givingModes',
              colspan: 1,
              align: 'center'
            }, {
              title: '/',
              field: 'givingMode',
              colspan: 6,
              align: 'center'
            }], [{
              title: '备注',
              field: 'remarks',
              colspan: 1,
              align: 'center'
            }, {
              title:  ' <div class="input-group input-group-sm"  style="width: auto">' +
                '            <textarea type="text"  class="form-control" rows="2"></textarea>' +
                '       </div>',
              field: 'remark',
              colspan: 6,
              align: 'center',
              valign: "middle"
            }], [{
              title: '   <div class="input-group input-group-sm"  style="width: auto">' +
                '            <span class="input-group-addon">委托人:</span><input type="text"  class="form-control" placeholder="送样数量">' +
                '        </div>',
              field: 'assigners',
              colspan: 4,
              align: 'center',
              valign: "middel"
            }, {
              title: '   <div class="input-group input-group-sm"  style="width: auto">' +
                '            <span class="input-group-addon">收样人:</span><input type="text"  class="form-control" placeholder="送样数量">' +
                '        </div>',
              field: 'samplePeople1',
              colspan: 3,
              align: 'center'
            }], [{
              title: '规格型号',
              field: 'specifications',
              colspan: 1,
              align: 'center'
            }, {
              title: '牌号级别',
              field: 'grades',
              colspan: 1,
              align: 'center'
            }, {
              title: '来样编号',
              field: 'givingSampleId',
              colspan: 1,
              align: 'center'
            }, {
              title: '试样编号',
              field: 'sampleId',
              colspan: 1,
              align: 'center'
            }, {
              title: '检验项目及数量',
              field: 'testItem',
              colspan: 2,
              align: 'center'
            }, {
              title: '检验依据',
              field: 'basis',
              colspan: 1,
              align: 'center'
            }]
          ]
        })

      }

      $(function () {
        initTable()


      })
    </script>
  </div>


{% endblock base %}