<!--收样人员委托单表格-->
{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>中冶建筑研究总院有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/all.css' %}">
  <script src="{% static 'base/js/jquery.min.js' %}"></script>
  <script src="{% static 'base/js/layer.js' %}"></script>
  <script src="{% static 'base/js/popper.min.js' %}"></script>


  <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-editable.css' %}">

  <link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css' %}">
  <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'base/js/bootstrap-editable.js' %}"></script>
  <script src="{% static 'base/js/bootstrap-table.js' %}"></script>

  {#  <script src="{% static 'base/js/bootstrap-table-editable.js' %}"></script>#}


  <script src="{% static 'base/js/tableExport.min.js' %}"></script>
  {#  <script src="{% static 'base/js/bootstrap-table-editable.js' %}"></script>#}
  <script src="{% static 'base/js/bootstrap-table-zh-CN.js' %}"></script>
  <script src="{% static 'base/js/layer.js' %}"></script>

  <script
    src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/extensions/print/bootstrap-table-print.min.js"></script>


</head>

<body>

<!-- Start Welcome area -->
<div style="height: 50px;width: 100%;background-color: #0044cc;">
  <span
    style="float: right;margin-right: 100px;line-height: 50px;color:#ffffff;">{{ request.session.LoginSession.LoginName }}</span>
</div>


<div>
  <div style="width: 60%;margin: 0 auto">
    <div style="height: 200px;margin: 0 auto">
      <h3 style="text-align: center;line-height: 200px">收样人员委托单表</h3>
    </div>
    <table id="table"
      {#           data-toolbar="#toolbar"#}
      {#           data-show-refresh="true"#}
           data-show-fullscreen="true"
      {#           data-show-export="true"#}
      {#           data-show-pagination-switch="true"#}
      {#           data-pagination="true"#}
           data-show-print="true"
      {#           data-id-field="id"#}
      {#           data-page-list="[10, 25, 50, 100, all]"#}
           data-side-pagination="server"
    >
    </table>

    <script>
      var $table = $('#table')


      function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
          {#height: 550,#}
          locale: 'zh-CN',
          columns: [
            [{
              title: '工程名称',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '  <a id = "projecy_name">{{ data.project_name }}</a>',
              field: 'projecy_name',
              colspan: 5,
              align: 'center',
              valign: "middle"
            }],

            [{
              title: '委托类型',
              field: 'deliveryModes',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '   <span id = "type">{{ data.type }}</a>',
              colspan: 2,
              align: 'center',
              valign: "middle"
            }, {
              title: '委托日期',
              field: 'dates',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '    <a id = "date">{{ data.date }}</a>',
              field: 'date',
              colspan: 2,
              align: 'center',
              valign: "middle"
            }], [{
              title: '报告形式',
              field: 'reportForms',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '   <a id = "presentation">{{ data.presentation }}</a>',
              field: 'reportForm',
              colspan: 2,
              align: 'center',
              valign: "middle"
            }, {
              title: '发出方式',
              field: 'givingModes',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '   <a id = "delivery">{{ data.delivery }}</a>',
              colspan: 2,
              align: 'center',
              valign: "middle"
            }],
            [{
              title: '加工方式',
              colspan: 1,
              align: 'center'
            }, {
              title: '  <a id = "processing_method">{{ data.processing_method }}</a>',

              colspan: 2,
              align: 'center'
            }, {
              title: '代表数量',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <a id = "number">{{ data.number }}</a>',
              colspan: 2,
              align: 'center'
            }], [{
              title: '生产厂家',
              colspan: 1,
              align: 'center'
            }, {
              title: '   <a id = "manufactory">{{ data.manufactory }}</a>',
              colspan: 5,
              align: 'center'
            }],
            [{
              title: '检验费用',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '<a id = "fee">{{ data.fee }}</a>',
              colspan: 2,
              align: 'center',
              valign: "middle"
            },
              {
                title: '预交押金',
                colspan: 2,
                valign: "middle",
                align: 'center'
              },
              {
                title: '  <a id = "paid">{{ data.paid }}</a>',
                colspan: 1,
                valign: "middle",
                align: 'center'
              }], [{
              title: '周期：',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '<a id = "sample_state">{{ data.sample_state }}</a>',
              colspan: 5,
              align: 'left',
              valign: "middle"
            }], [{
              title: '送样数量：',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '<a id = "sample_number">{{ data.sample_number }}</a>',

              colspan: 5,
              align: 'left',
              valign: "middle"
            }], [{
              title: '检验后样品处理',

              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: '<a id = "sample_disposal">{{ data.sample_disposal }}</a>',
              colspan: 5,
              align: 'left',
              valign: "middle"
            }],
            [{
              title: '发票信息',
              colspan: 1,
              align: 'center',
              valign: 'middle',
            }, {
              title: '<a id = "invoice">{{ data.invoice }}</a>',
              colspan: 5,
              align: 'center',
              valign: 'middle',
            }],

            [{
              title: '备注',
              colspan: 1,
              align: 'center',
              valign: "middle"
            }, {
              title: ' <a id = "remarks">{{ data.sample_state }}</a>',
              colspan: 5,
              align: 'center',
              valign: "middle"
            }]
          ]
        })

      }

      $(function () {
        initTable()
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#type").editable({
          type: "select",                //编辑框的类型。支持text|textarea|select|date|checklist等
          predend: '委托类型',//编辑框的标题
          // validate: function (value) { //字段验证
          //   if (!$.trim(value)) {
          //     return '不能为空';
          //   }
          // }
          source: [{value: "一般", text: "一般"}, {value: "见证", text: "见证"}, {value: "行政部", text: "行政部"}]
        })
        $("#date").editable({
          type: "date",
          title: "委托日期"
        })
        $("#remarks").editable({
          type: "textarea",
          title: "备注",
          rows: 3,
        })
        $("#invoice").editable()

      })
    </script>
    <script></script>
  </div>

</div>
<footer>
  {% include 'zhongye/footer.html' %}
</footer>
{##}
{#<script src="{% static 'consignment/js/consignment.js' %}"></script>#}
</body>

</html>