<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>中冶建筑研究总院有限公司</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/zhongye/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/owl.carousel.css">
    <link rel="stylesheet" href="../../static/zhongye/css/owl.theme.css">
    <link rel="stylesheet" href="../../static/zhongye/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="../../static/zhongye/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="../../static/zhongye/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/zhongye/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="../../static/zhongye/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="../../static/zhongye/img/logo/logo1.png" alt="" /></a>
                <strong><a href="index.html"><img src="../../static/zhongye/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">

                        <li>
                            <a class="has-arrow" href="/zhongye/approval_index/" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">审批人员首页表</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               <!-- <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                                <li><a title="审批人员首页表" href="/zhongye/approval_index/"><span class="mini-sub-pro">审批人员首页表</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/zhongye/approval_index/" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">审批人员首页表</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               <!-- <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                                <li><a title="审批人员首页表" href="/zhongye/approval_index/"><span class="mini-sub-pro">审批人员首页表</span></a></li>
                            </ul>
                          </li>
                        <li>
                            <a class="has-arrow" href="/zhongye/approval_index/" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">审批人员首页表</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               <!-- <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                                <li><a title="审批人员首页表" href="/zhongye/approval_index/"><span class="mini-sub-pro">审批人员首页表</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/zhongye/approval_index/" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">审批人员首页表</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               <!-- <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                                <li><a title="审批人员首页表" href="/zhongye/approval_index/"><span class="mini-sub-pro">审批人员首页表</span></a></li>
                            </ul>
                          </li>
                        <li>
                            <a class="has-arrow" href="/zhongye/approval_index/" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">审批人员首页表</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                               <!-- <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                                <li><a title="审批人员首页表" href="/zhongye/approval_index/"><span class="mini-sub-pro">审批人员首页表</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Professors</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Professors" href="all-professors.html"><span class="mini-sub-pro">All Professors</span></a></li>
                                <li><a title="Add Professor" href="add-professor.html"><span class="mini-sub-pro">Add Professor</span></a></li>
                                <li><a title="Edit Professor" href="edit-professor.html"><span class="mini-sub-pro">Edit Professor</span></a></li>
                                <li><a title="Professor Profile" href="professor-profile.html"><span class="mini-sub-pro">Professor Profile</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Students</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Students" href="all-students.html"><span class="mini-sub-pro">All Students</span></a></li>
                                <li><a title="Add Students" href="add-student.html"><span class="mini-sub-pro">Add Student</span></a></li>
                                <li><a title="Edit Students" href="edit-student.html"><span class="mini-sub-pro">Edit Student</span></a></li>
                                <li><a title="Students Profile" href="student-profile.html"><span class="mini-sub-pro">Student Profile</span></a></li>
                            </ul>
                        </li>

                        <li id="removable">
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>
                            <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                                <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>
                                <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>
                                <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>
                                <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>
                                <li><a title="404 Page" href="404.html"><span class="mini-sub-pro">404 Page</span></a></li>
                                <li><a title="500 Page" href="500.html"><span class="mini-sub-pro">500 Page</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="../../static/zhongye/img/logo/logo1.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													                      <i class="educate-icon educate-nav"></i>
												                    </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- jquery
		============================================ -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="../../static/zhongye/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="../../static/zhongye/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="../../static/zhongye/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="../../static/zhongye/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="../../static/zhongye/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="../../static/zhongye/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="../../static/zhongye/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="../../static/zhongye/js/counterup/jquery.counterup.min.js"></script>
    <script src="../../static/zhongye/js/counterup/waypoints.min.js"></script>
    <script src="../../static/zhongye/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="../../static/zhongye/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../static/zhongye/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="../../static/zhongye/js/metisMenu/metisMenu.min.js"></script>
    <script src="../../static/zhongye/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="https://cdn.bootcss.com/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdn.bootcss.com/morris.js/0.5.0/morris.js"></script>
    <script src="../../static/zhongye/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="../../static/zhongye/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="../../static/zhongye/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="../../static/zhongye/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="../../static/zhongye/js/calendar/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/fullcalendar/3.8.0/fullcalendar.min.js"></script>
    <script src="../../static/zhongye/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="../../static/zhongye/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="../../static/zhongye/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    
</body>


<!-- Mirrored from jsofttheme.com/kiaalap-preview/kiaalap/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 May 2018 22:15:38 GMT -->
</html>