<!DOCTYPE html>
<html lang="en">
<head>
  <title>中冶集团</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link href="/static/login/css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords"
        content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
  <!--Google Fonts-->
  {#  <link#}
  {#    href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'#}
  {#    rel='stylesheet' type='text/css'>#}
  <title>professors</title>
  <meta charset="UTF-8">

</head>
<body>

<div style="margin-top: 150px;">
  <div class="login">
    <div class="login-main">
      <div class="login-top">
        <img src="/static/sample/image/中冶LOGO.png" alt="" height="200px;" width="300px;"/>
        <form name="form" method="post" action="login/">
          <input name="login" type="hidden" id="login" value="1">
          <input name="username" class="form-control" type="text" id="username">
          <input name="userpwd"  class="form-control" type="password" id="userpwd">
          <div class="login-bottom">
            <div class="clear">
            </div>
          </div>
          <input type='hidden' name='csrfmiddlewaretoken'
                 value='6QJ4uPpUWYRiZ0KHMydRN8fOu5df17wPfTcyfYUp5n4wvhWgrnHaJ2ue3cviEo4z'/>
          <input type="submit" name="Submit" value="Login">
        </form>
      </div>


    </div>
  </div>
</div>
{#<div style="margin-top: 200px;width:100%;color: #2a6496;text-align: center;vertical-align: middle;font-family:'宋体';">#}
{#  <img style="width: 500px;height: 300px;" src="/static/sample/image/中冶LOGO.png">#}
{#  <form name="form" class="form-group" method="post" action="login/">#}
{#    <input name="login" type="hidden" id="login" value="1">#}
{#    <input name="username" class="form-control" type="text" id="username">#}
{#    <p></p>#}
{#    <input name="userpwd" class="form-control" type="password" id="userpwd">#}
{#    <div class="login-bottom">#}
{#      <div class="clear">#}
{#      </div>#}
{#    </div>#}
{#    <p></p>#}
{#    <input type='hidden' name='csrfmiddlewaretoken'#}
{#           value='6QJ4uPpUWYRiZ0KHMydRN8fOu5df17wPfTcyfYUp5n4wvhWgrnHaJ2ue3cviEo4z'/>#}
{#    <input type="submit" name="Submit" value="Login">#}
{#  </form>#}
{#</div>#}

<div style="position:fixed;bottom:20px;width:100%;text-align: right;">
  <img src="/static/sample/image/东测LOGO.png" style="width:250px;height:40px;margin-right: 20px;">
</div>
</body>
</html>