<!--收样人员委托单表格-->
{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>中冶建筑研究总院有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/all.css' %}">

  <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-editable.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/bootstrap-select.min.css' %}">


</head>

<body style="width: 90%;margin: 0 auto;">
<div class="container">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="basic" class="col-lg-2 control-label">Large Select (liveSearch enabled, container: 'body')</label>

      <div class="col-lg-5">
        <label>Standard</label>
        <select class="selectpicker form-control" id="number" data-container="body" data-live-search="true" title="Select a number" data-hide-disabled="true"></select>
      </div>

      <div class="col-lg-5">
        <label>Multiple (no virtualScroll)</label>
        <select multiple class="selectpicker form-control" id="number-multiple" data-container="body" data-live-search="true" title="Select a number" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="false"></select>
      </div>
    </div>
  </form>
<table id="table"
       data-detail-view="true">
</table>

</div>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
<script src="{% static 'base/js/layer.js' %}"></script>
<script src="{% static 'base/js/popper.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-editable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table.js' %}"></script>
<script src="{% static 'base/js/common.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-zh-CN.js' %}"></script>
<script src="{% static 'base/js/bootstrap-select.min.js' %}"></script>

<script
  src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/extensions/print/bootstrap-table-print.min.js"></script>

<script>

  var $table = $('#table')

  function buildTable($el, cells, rows) {
    var i;
    var j;
    var row
    var columns = []
    var data = []

    for (i = 0; i < cells; i++) {
      columns.push({
        field: 'field' + i,
        title: 'Cell' + i,
        sortable: true
      })
    }
    for (i = 0; i < rows; i++) {
      row = {}
      for (j = 0; j < cells; j++) {
        row['field' + j] = 'Row-' + i + '-' + j
      }
      data.push(row)
    }
    $el.bootstrapTable({
      columns: columns,
      data: data,
      detailView: cells > 1,
      onExpandRow: function (index, row, $detail) {
        /* eslint no-use-before-define: ["error", { "functions": false }]*/
        expandTable($detail, cells - 1)
      }
    })
  }

  function expandTable($detail, cells) {
    buildTable($detail.html('<table></table>').find('table'), cells, 1)
  }

  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      {#height: 650,#}
      locale: 'zh-CN',
      url: "/samIndexData/",

      method: "GET",
      columns: [
        {
          title: '规格',
          field: 'id',
          align: 'center',
          visible: false,
          valign: 'middle',
          sortable: true,
        },
        {
          title: '牌号级别',
          field: 'report_id',
          align: 'center',
          valign: 'middle',

        }, {
          title: '来样编号',
          field: 'company_name',
          align: 'center',
          valign: 'middle',
          formatter: companyName
        },

        {
          title: '数量',
          field: 'project_name',
          align: 'center',
          valign: 'middle',
          editable: {
            type: "text",
            title: "工程名称",
            placeholder: '工程名称',
            validate: function (value) {
              if (!value) {
                return '工程名称不能为空';
              }
            },

          }
        }, {
          title: '产品编号',
          field: 'date',
          align: 'center',
          valign: 'middle',
        }
      ],
      onEditableSave: function (field, row, oldValue, $el) {
        $.ajax({
          type: "post",
          url: "/sample_index/updateCommissionSheet/",
          data: {"id": row.id, "project_name": row.project_name},
          success: function (data, status) {
            if (status == "success") {

              initTable();
            }
          },
          error: function () {
            alert('编辑失败');
          },
          complete: function () {

          }

        });
      }
    })
  }

  $(function () {
    buildTable($table, 8, 2)
  })

</script>

</body>

</html>