{% load static from staticfiles %}


<div style="margin-top: 200px;width:100%;color: #2a6496;text-align: center;vertical-align: middle;font-family:'宋体';">
  <img style="width: 500px;height: 300px;" src="{% static "sample/image/中冶LOGO.png" %}">
  <p style="margin:0 auto;font-size: 50px;letter-spacing: 15px;">试验信息管理系统</p>
{#  <h6>TEST INFORMATION MANAGEMENT SYSTEM</h6>#}
<p></p>
  <p style="margin:0 auto;font-size: 10px;letter-spacing: 3px;">TEST  INFORMATION  MANAGEMENT  SYSTEM</p>
  <hr style="width:100px;border:none;border-top: 2px solid #2a6496;"/>
  <p style="margin:0 auto;font-size: 18px;letter-spacing: 5px;">济南东测试验机技术有限公司版权所有</p>

</div>

<div style="position:fixed;bottom:20px;width:100%;text-align: right;">
  <img src="{% static 'sample/image/东测LOGO.png' %}"  style="width:250px;height:40px;margin-right: 20px;">
</div>
