<!--实验人员首页表-->

{% extends 'zhongye/base.html' %}
{% load static from staticfiles %}
{% block base %}
  <div style="width: 80%;margin: 0 auto">
  <div style="height: 200px;margin: 0 auto">
    <h3 style="text-align: center;line-height: 200px"><span>实验人员首页表</span></h3>
  </div>



<table
  id="table"
{#  data-toolbar="#toolbar"#}
{#  data-search="true"#}
  data-show-refresh="true"
{#  data-show-toggle="true"#}
  data-show-print="true"
  data-show-fullscreen="true"
{#  data-show-columns="true"#}
{#  data-show-columns-toggle-all="true"#}
{#  data-detail-view="true"#}
  data-show-export="true"
{#  data-click-to-select="true"#}
{#  data-detail-formatter="detailFormatter"#}
{#  data-minimum-count-columns="2"#}
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]"
{#  data-show-footer="true"#}
  data-side-pagination="server"
  data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
{#  data-response-handler="responseHandler"#}
>
</table>

<script>
  var $table = $('#table')


  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      {#height: 550,#}
      locale: 'zh-CN',
      columns: [
        {
          title: '试样编号',
          field: 'sampleId',
          align: 'center',
          valign: 'middle',
          sortable: true,
        }, {
          title: '样品名称',
          field: 'sampleName',
          align: 'center',
          valign: 'middle',
          sortable: true,
        }, {
          title: '检验依据',
          field: 'basis',
          align: 'center',
          valign: 'middle',
          sortable: true,
        }, {
          title: '要求完成时间',
          field: 'deadline',
          align: 'center',
          valign: 'middle',
          sortable: true,
        }, {
          field: 'operate',
          title: '操作',
          align: 'center',
          clickToSelect: false,
          events: window.operateEvents,
          {#formatter: operateFormatter#}
        }
      ]
    })

  }

  $(function() {
    initTable()


  })
</script>
</div>


{% endblock base %}